* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
i {
    float: left;
    font-size: 30px;
    padding: 0 10px 0px 10px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.container {
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: auto;
    margin-right: auto;
}
/*page*/
.page {
    background-image: url(../img/fon.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.page {
    height: 245px;
    position: relative;    
    color: white;
}
.satellite {
    display: none;
}
h1 {
    margin-top: 0;
    padding-top: 20px;
    font-family: GothamProBold;
    font-size: 20px;
    text-align: center;
}
.page__text1, .page__text2 {
    font-family: GothamProRegular;
    font-size: 15px;
    margin-bottom: 12px;
}
.page__text1 {
    text-align: center;
    margin-top: -15px;
}
.planet {
    display: none;
}
.human {
    display: none;
}
h3 {
    font-family: GothamProMedium;
    color: #b6f1ff;
    margin-top: -10px;
    font-size: 17px;
    margin-bottom: 10px;
}
.margin {
    text-align: center;
}
.page__a {
    font-family: GothamProBold;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #ff1744;
    border-radius: 10px;
    padding: 9px;
    color: white;
    cursor: pointer;
}
/*reson*/
.reason-content {
    text-align: center;
}
.reason {
    width: 278px;
    margin: 0 auto;
    color: #333;
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
    margin: 0 10px 15px;
}
h2 {
    font-family: GothamProMedium;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 0;
}
.icon {
    width: 40px;
    float: left;
    margin-right: 15px;
}
.title {
    font-family: GothamProMedium;
    font-size: 15px;
}
.text {
    font-family: GothamProLight;
    font-size: 12px;
}
/* EVENTS*/
.events {
    background-color: #f5f5f5;
}
.events__title {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding-top: 15px;
}
.events__description {
    font-family: GothamProLight;
    text-align: center;
    font-size: 18px;
    margin-top: -20px;
}
.event__content {
    margin-left: 10px;
}
.event {
    border-bottom: 1px solid #cfd8dc;
}
.event:last-child {
    border-bottom: 1px solid #f5f5f5;
}
.even_picleft {
    display: none;
}
.even_picright {
    display: none;
}
.event__content-name {
    text-align: center;
    font-family: GothamProRegular;
    font-size: 20px;
    margin: 10px;
}
p {
    font-family: GothamProLight;
    font-size: 15px;
}
.event__text {
    font-family: GothamProLight;
    font-size: 14px;
}
/*practics*/
.practic {
    margin-left: 15px;
    display: inline-block;
    text-align: center;
}
.practics {
    text-align: center;
    margin-top: 20px;
}
.practics__title {
    font-family: GothamProMedium;
    font-size: 15px;
}
.practic-img {
    width: 100px;
}
.practics__text {
    font-family: GothamProLight;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 1.3;
}
.practis__a {
    font-family: GothamProBold;
    font-size: 14px;
    color: red;
    padding: 10px 18px;
    border: 4px solid red;
    border-radius: 7px;
}
.practis__href {
    margin-bottom: 20px;
}
/*training*/
.training {
    background-color: #fafafa;
}
.training__gift {
    display: none;
}
.training__img {
    background-size: cover;
}
.training__freedom {
    position: relative;
    padding-top: 15px;
}
.training__balloon {
    width: 15%;
    display: inline-block;
    position: absolute;
    top: -20px;
    left: -15px;
}
.training__text {
    text-align: center;
    font-family: GothamProLight;
    font-size: 17px;
    margin: -20px 0 20px;
}
.training__context1 {
    text-align: center;
    font-family: GothamProMedium;
    font-size: 18px;
}
.training__context_text {
    text-align: center;
    font-family: GothamProLight;
    font-size: 15px;
    padding-bottom: 5px;
}
.training-wonder {
    width: 100%;
    background-size: cover;
}
/*video*/
.video__context {
    text-align: center;
    padding-bottom: 20px;
}
/*VARIANTS*/

.variants__top {
    border-bottom: 1px solid #bdbdbd;
}
.variants__list {
    text-align: center;
}
.variants__list-item {
    display: inline;
    width: 105px;
    margin: 30px 55px;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.variants__list-text {
    margin: 0px -20px;
    padding: 20px 0;
    font-family: GothamProLight;
    font-size: 18px;
    color: black;
}
.variants__content-img {
    display: none;
}
.variants__content-listItem {
    font-family: GothamProLight;
    font-size: 15px;
    padding: 5px 0;
    color: black;
}
.variants__content-title {
    font-family: GothamProRegular;
    margin-top: 20px;
    margin-bottom: -5px;
    font-size: 25px;
    text-align: center;
}
.variants__list-girl {
    margin-right: 60px;
}
.disk {
    color: red;
    font-size: 15px;
}
/*table*/
.table {
    width: 100%;
    text-align: center;
    display: none;
    padding: 30px 0 30px;
    background-color: #f5f5f5;
}
.table__context {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
    margin-bottom: 10px;
}
.table_padding {
    border-radius: 10px 0 0 10px;
    padding: 5px 10px;
    background-color:white;
}
.table_padding-ignored {
    padding: 0px 0px;
    background-color:white;
}
.table__context.width {
    width: 250px;
}
.table__context.center {
    text-align: center;
    vertical-align: super;
}
.table__context-text {
    background-color: white;
    font-family: GothamProLight;
    font-size: 14px;
    padding: 10px 4px;
    margin: 0 10px;
}
.table__context-text.font {
    font-family: GothamProMedium;
    font-size: 20px;
}
.table__context-text.border {
    border-bottom: 1px solid #e0e0e0;
}
.table__context-text.action, .table__context-text.action1, .table__conext-a, .table__context-text.color1, .table__context-text.color {
    margin: 0;
    color: white;
}
.table__context-text.color {
    border-radius: 10px 10px 0 0;

}
.table__context-text.color1, .table__context-text.color {
    background-color: #3f51b5;
}
.table__context-text.action, .table__context-text.action1, .table__conext-a {
    background-color: #ff1744;
}
.table__context-text.action {
    border-radius: 10px 10px 0 0;
}
.table__conext-a {
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.table__context-text.padding {
    padding: 20px 0 40px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.table_padding-ignored.radius {
    border-radius: 0 0 10px 10px;
}
/*ticket*/
.ticket {
    text-align: center;
}
.ticket__content-title {
    font-family: GothamProRegular;
    font-size: 20px;
    margin: 23px 0px;
    text-align: center;
}
.ticket__timeitem {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: white;
    background-color: #ff1744;
    border-radius: 5px;
    font-family: GothamProMedium;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    margin: 3px;
}
.ticket__content {
    font-family: GothamProMedium;
    font-size: 15px;
}
.ticket__time-name {
    display: inline-block;
    font-family: GothamProLight;
    font-size: 12px;
    text-align: center;
    padding: 0px 3px 10px;
}
/*pay*/
.pay {
    background-color: #fafafa;
}
.pay__content {
    padding: 5px;
}
.pay__content-title {
    font-family: GothamProMedium;
    font-size: 20px;
}
.pay__content-title-name {
    font-family: GothamProLight;
    font-size: 17px;
}
.pay__content-title-a {
    color: #fe355c;
    padding-bottom: 40px;
    cursor: pointer;
}
.far, .fas {
    color: #bdbdbd;
}
/*unlimited*/
.unlimited__content {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bdbdbd;
}
.unlimited__content-item {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 5px 45px;
    position: relative;
}
.unlimited__content-item.action {
    color: #ff1744;
}
.unlimited__content-item:first-child {
    content: "›";
    overflow: hidden;
}
.unlimited__content-titel {
    margin-top: 10px;
    font-family: GothamProMedium;
    font-size: 20px;
}
.unlimited__content-text {
    font-family: GothamProLight;
    font-size: 18px;
    padding-top: 5px;
}
/*question*/
.question {
    padding: 50px 0 10px;
}
.question__content {
    padding: 0 10px 10px;
}
.question__content-titel {
    margin-bottom: -50px;
}
.question__context {
    font-family: GothamProMedium;
    font-size: 20px;
    padding-bottom: 15px;
}
.question__context-text {
    font-family: GothamProLight;
    font-size: 18px;
}
.question_titel {
    display: inline;
    padding-left: 15px;
}
.question-img {
    vertical-align: middle;
}
/*footer*/
footer {
    background-color: #303f9f;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    font-family: GothamProLight;
    line-height: 1.7;
    font-size: 10px;
}
@media {
    .container {
      max-width: 290px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .satellite {
        display: inline-block;
        width: 53px;
        position: absolute;
        left: 45px;
        top: 45px;
    }
    .planet {
        display: inline-block;
        width: 65px;
        position: absolute;
        top: 73px;
        right: 25px;
    }
    .page__text1, .page__text2 {
        margin-bottom: 25px;
    }
    i {
        font-size: 40px;
        padding: 0 25px 5px;
    }
    .table__context {
        display: inline-block;
    }
    .ticket__content-title {
        font-size: 24px;
        margin: 35px 0px;
    }
    .unlimited__content-title {
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .satellite {
        display: inline-block;
        width: 75px;
        position: absolute;
        left: 60px;
        top: 55px;
    }
    .planet {
        display: inline-block;
        width: 80px;
        position: absolute;     
        top: 100px;
        right: 30px;
    }
    h1 {
        padding-top: 30px;
        font-size: 30px;
    }
    .page__text1, .page__text2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    h3 {
        margin-top: 15px;
        font-size: 20px;
        margin-bottom: 18px;
    }
    .page {
        height: 400px;
    }
    .page__a {
        font-size: 15px;
        padding: 10px;
    }
    .human {
        display: inline-block;
        float: left;
        margin-left: 30%;
        margin-top: 18px;
        width: 92px;
    }
    .reason {
        width: 200px;
    }
    .text {
        font-size: 15px;
    }
    .title {
        font-size: 17px;
    }
    .variants__list-item.action::after, .variants__list-item.active::after {
        left: -35px;
        bottom: -50px;
    }
    .variants__list-girl {
        margin-right: 30px;
    }
    .margin {
        text-align: left;
        margin-left: 50%;
    }
    h2 {
        font-size: 33px;
        padding: 30px;
    }
    .icon {
        width: 50px;
        float: none;
        margin-right: 0px;
    }
    .event {
        padding: 20px;
    }
    .events__description {
        font-size: 20px;
        margin-top: -25px;
        margin-bottom: 0;
    }
    .events__title {
        font-size: 33px;
        padding-top: 25px;
    }
    .practics__text {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.5;
    }
    .practics {
        margin-top: 30px;
    }
    .practic {
        width: 300px;
        vertical-align: top;
    }
    .practics__title {
        font-size: 20px;
    }
    .practic-img {
        width: 120px;
    }
    .training__freedom {
        padding-top: 30px;
    }
    .training__gift {
        display: inline-block;
    }
    .training__balloon {
        top: -60px;
    }
    .table {
        display: inline-block
    }
    .table__context-text {
        font-size: 18px;
        padding: 10px 4px;
        margin: 0 10px;
    }
    .variants__list-item {
        display: inline-block;
    }
    .practis__href {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .practis__a {
        font-size: 22px;
        padding: 20px 35px;
        border: 5px solid red;
        border-radius: 7px;
    }
    .variants__list-item.action::after, .variants__list-item.active::after {
        content: "";
        display: inline-block;
        background: #ff1744;
        width: 200px;
        height: 7px;
        border-radius: 3px;
        position: absolute;
        bottom: -50px;
        left: -50px;
        font-family: GothamProMedium;
    }
    .ticket__content-title {
        font-size: 30px;
        margin: 50px 0;
    }  
    .ticket__timeitem {
        text-align: center;
        line-height: 67px;
        width: 75px;
        height: 75px;
        font-size: 48px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .ticket__content {
        font-size: 20px;
    }
    .ticket__time-name {
        font-size: 18px;
        padding: 0px 15px 15px;
    } 
    .pay__content {
        padding: 10px;
    } 
    .pay {
        padding-bottom: 20px;
    }
    .unlimited__content {
        margin-top: -30px;
    }
    .unlimited__content {
        padding-bottom: 70px;
    }
    .question {
        padding: 0px 80px 10px;
    }
    .question__context-text {
        padding-bottom: 12px;
    }
    .question__content-titel {
        margin-bottom: 0px;
    }
    .question__context {
        padding-bottom: 30px;
    }
    .footer__text {
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    h1 {
        font-size: 45px;
        padding-top: 60px;
    }
    .satellite {
        left: 50px;
        top: 100px;
    }
    .planet {  
        top: 215px;
        right: 30px;
    }
    .human {
        margin-top: 10px;
        width: 155px;
    }
    h2 {
        font-size: 48px;
        padding: 80px;
    }
    .training-wonder {
        display: inline-block;
    }
    .page {
        height: 650px;
    }
    .page__a {
        font-size: 20px;
        border-radius: 10px;
        padding: 15px 30px;
    }
    h3 {
        margin-top: 20px;
        font-size: 35px;
        margin-bottom: 30px;
    }
    .page__text1, .page__text2 {
        font-size: 30px;
        margin-bottom: 60px;
    }
    .page__text1 {
        margin-top: -30px;
    }
    .events__title {
        font-size: 48px;
        padding-top: 65px;
    }
    .events__description {
        margin-top: -75px;
        margin-bottom: auto;
    }
    .reason {
        margin-bottom: 80px;
    }
    .icon {
        float: none;
        width: 65px;
        margin-bottom: 30px;
    }
    .title {
        font-size: 20px;
    }
    .text {
        font-size: 18px;
    }
    .variants__content-title {
        margin-top: 70px;
        margin-bottom: 0px;
    }
    .variants__content-listItem {
        font-size: 18px;
        padding: 20px 0;
    }
    .disk {
        font-size: 25px;
    }
    p {
        font-size: 24px;
    }
    .event__content-name {
        font-size: 25px;
        margin: 20px;
    }
    .event__text {
        font-size: 24px;
    }
    .event {
        padding: 60px;
    }
    .event__content-name {
        text-align: left;
        font-size: 45px;
    }
    .even_picright {
        display: inline-block;
        float: right;
        margin-left: 70px;
    }
    .even_picleft {
        display: inline-block;
        float: left;
        margin-right: 70px;
    }
    .practis__href {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .practics__text {
        margin-bottom: 75px;
    }
    .practics {
        margin-top: 50px;
    }
    .practic {
        margin: 0 30px;
    }
    .practics__text {
        margin-top: 25px;
        margin-bottom: 25px;
        line-height: 1.8;
    }
    .practic-img {
        width: 160px;
    }
    .unlimited__content-item {
        margin: -5px 35px;;
        width: 145px;
    }
    .unlimited__content-item::before {
        content: "›";
        color: #1f1919;
        display: inline-block;
        position: absolute;
        top: 20px;
        left: -45px;
        font-size: 40px;
    }
    .training__freedom {
        padding-top: 90px;
    }
    .training__balloon {
        display: inline-block;
        position: absolute;
        top: -100px;
        left: -15px;
    }
    .training__context {
        padding: 60px 0;
    }
    .training__context1 {
        font-size: 25px;
    }
    .training__context_text {
        padding-bottom: 5px 30px;
    }
    .training__text {
        font-size: 24px;
        margin: -85px 0 85px;
    }
    .video__context {
        padding-bottom: 80px;
    }
    .training__context_text {
        font-size: 20px;
        padding: 5px 130px;
    }
    .table {
        padding: 100px 0 80px;
    }
    .ticket__time-name {
        padding: 0px 15px 30px;
    } 
    .pay__content {
        padding: 20px;
    } 
    .pay {
        padding-bottom: 40px;
    }
    i {
        font-size: 50px;
        padding: 0 30px 30px 200px;
    }
    footer {
        padding: 75px 0;
    }
    .footer__text {
        font-size: 18px;
    }
    .question__content {
        padding: 0 30px 30px;
    }
    .right {
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    h1 {
        padding-top: 100px;
        font-size: 60px;
    }
    h3 {
        margin-top: 85px;
        font-size: 35px;
        margin-bottom: 40px;
    }
    .human {
        margin-top: -11px;
        width: 222px;
    }
    .planet {  
        right: 61px;
        top: 330px;
    }
    .satellite {
        width: 105px;
        top: 200px;
        left: 80px;
    }
    .page__text1, .page__text2 {
        margin-bottom: 80px;
    }
    .page {
        height: 900px;
    }
    .page__a {
        padding: 25px 50px;
    }
    .reason {
        width: 250px;
    }
    .variants__list-item.action::after, .variants__list-item.active::after {
        left: -30px;
        bottom: -20px;
    }
    .even_picright {
        margin-left: 110px;
    }
    .even_picleft {
        margin-right: 110px;
    }
    .variants__list-item {
        margin: 0px 70px;
    }
    .variants__content-img {
        display: inline-block;
        float: left;
        margin-right: 230px;
        margin-bottom: 90px;
    }
    .variants__content-title {
        font-family: GothamProRegular;
        margin-bottom: 30px;
        font-size: 48px;
        text-align: left;
        margin-top: 100px;
    }
    .practis__href {
        margin-bottom: 100px;
    }
    .unlimited__content-item {
        margin: -4px 35px;
        width: 192px;
    }
    .ticket__content-title {
        font-size: 36px;
        margin: 80px;
    } 
    .question__content {
        padding: 0px 200px 30px;
    }
}